<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-error pb-0" id="win-message">
  <div class="btn btn-close float-end" id="btn-close"></div>
    <%= "У Вас #{I18n.t :error, count: errors.count} в форме:" %>
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
