<span class="user">
  <span class="user-avatar">
    <%= avatar_user_self(user, 130) %>
  </span>
  <span class="user-name">

    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </span>
</span>
