<div class="p-2 col-md-6 border border-dark rounded buffer-top">
  <%= content_tag 'h2', t('controllers.users.editing') %>

  <div class="row">
    <%= render 'form' %>
    <p class="buffer-top">
      <%= link_to t('message.change_password'), edit_user_registration_path %>
    </p>
  </div>
</div>
