<div class="event-photo buffer-both">
  <div class="d-inline-block">
    <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url %>
  </div>

  <div class="d-inline-block">
    Добавил <br><%= render partial: 'users/user_mini', object: photo.user %>
  </div>
</div>
